<mat-grid-list cols="4" class="profile-top">
    <mat-grid-tile [colspan]="1">
    
        <img class="profile-photo" [src]="getImage(business.profilePhoto)"/>
        
    </mat-grid-tile>
    
    <mat-grid-tile [colspan]="3">
        <div class="description-container">
            <p class="mat-display-1" style="font-weight: bold;"> {{this.business.companyName}}</p>
            <p class="mat-h1"> {{this.business.description}} </p>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<div class="make-post-container">

</div>

<div class="posts-container">
    <review-component *ngFor="let review of reviews" [inputReview]="review"></review-component>
</div>