<section class="top-bar">
  <div class="bar-title">
    <h1 class="mat-display-1" style="font-weight: bold;"> ARTIO </h1>
  </div>
</section>



<section class="side-bar">
  <mat-divider class="navbar-divider"></mat-divider>
  <div class="side-menu">
    <mat-selection-list [multiple]="false" style="padding: 0px">
      <mat-list-option class="side-menu-elem">
        Explore
      </mat-list-option>
      <mat-list-option class="side-menu-elem">
        Search
      </mat-list-option>
      <mat-list-option class="side-menu-elem">
        Profile
      </mat-list-option>
    </mat-selection-list>
  </div>
</section>

<section class="content-space">

</section>