<mat-grid-list cols="4" class="profile-top">
    <mat-grid-tile [colspan]="1">
    
        <img class="profile-photo" [src]="getImage(user.profile_picture)"/>
        
    </mat-grid-tile>
    
    <mat-grid-tile [colspan]="3">
        <div class="description-container">
            <p class="mat-display-1" style="font-weight: bold;"> {{this.user.first_name}} {{this.user.last_name}} </p>
            <p class="mat-h1"> {{this.user.description}} </p>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<div class="make-post-container">
    <div class="example-form">
        <div class="full-width-input">
            <label for="fname">Review</label>
            <input type="text" id="fname" name="firstname" class="muie" placeholder="Your thoughts here" [(ngModel)]="newPostText">
        </div>

        <div class="image-upload" style="margin: 10px">
            <img [src]="imageSrc" style="max-width:300px;max-height:300px"/>
            <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
        </div> 

        <button mat-stroked-button class="submit-button" type="button" (click)="makePost()" [disabled]="checkFields()">
            Submit
        </button>
    </div>
</div>

<div class="posts-container">
    <post-component *ngFor="let post of posts" [inputPost]="post"></post-component>
</div>